<section id="work" class="portfolio-section section-global-wrapper">

   <div class="container">

     <div class="row">
       <div class="portfolio-header">
         <h3 class="portfolio-header-title">IDEAS</h3>
         <p class="portfolio-header-body">Fusce molestie quam sed neque pellentesque, sed molestie risus sollicitudin.</p>
       </div>
     </div>

     <div class="row">
       <div class="nav-pills-centered portfoio-filters">
         <ul id="filters" class="nav nav-pills">
           <li><a href="javascript:;" data-option-value="*" class="active">ALL</a></li>
           <li><a href="javascript:;" data-option-value=".design">DESIGN</a></li>
           <li><a href="javascript:;" data-option-value=".print">PRINT</a></li>
           <li><a href="javascript:;" data-option-value=".digital">DIGITAL</a></li>
           <li><a href="javascript:;" data-option-value=".video">VIDEO</a></li>
         </ul>
       </div>
     </div>

   </div>

   <div class="container">
     <div class="row">

       <div id="projects" class="project-caption">

         <div class="element print digital">
           <figure>
               <img src="assets/600-1.jpg" alt="" class="img-responsive" />
               <figcaption>
                   <h3 class="project-caption-title">Top of the World</h3>
                   <div>
                     <a href="assets/600-2.jpg" class="project-caption-icon project-caption-view" data-rel="prettyPhoto"><i class="fa fa-plus"></i></a>
                     <a href="http://designorbital.com/contango-pro/" target="_blank" class="project-caption-icon project-caption-link"><i class="fa fa-link"></i></a>
                   </div>
               </figcaption>
           </figure>
         </div>
         <div class="element print digital">
           <figure>
               <img src="assets/elegant.jpg" alt="" class="img-responsive" />
               <figcaption>
                   <h3 class="project-caption-title">ELEGANT</h3>
                   <div>
                     <a href="assets/elegant.jpg" class="project-caption-icon project-caption-view" data-rel="prettyPhoto"><i class="fa fa-plus"></i></a>
                     <a href="http://designorbital.com/future-pro/" target="_blank" class="project-caption-icon project-caption-link"><i class="fa fa-link"></i></a>
                   </div>
               </figcaption>
           </figure>
         </div>

         <div class="element design">
           <figure>
               <img src="assets/600-4.jpg" alt="" class="img-responsive" />
               <figcaption>
                   <h3 class="project-caption-title">CHALLENGE</h3>
                   <div>
                     <a href="assets/600-4.jpg" class="project-caption-icon project-caption-view" data-rel="prettyPhoto"><i class="fa fa-plus"></i></a>
                     <a href="http://designorbital.com/prana-pro/" target="_blank" class="project-caption-icon project-caption-link"><i class="fa fa-link"></i></a>
                   </div>
               </figcaption>
           </figure>
         </div>

         <div class="element print">
           <figure>
               <img src="assets/600-5.jpg" alt="" class="img-responsive" />
               <figcaption>
                   <h3 class="project-caption-title">EXPLORE</h3>
                   <div>
                     <a href="assets/600-5.jpg" class="project-caption-icon project-caption-view" data-rel="prettyPhoto"><i class="fa fa-plus"></i></a>
                     <a href="http://designorbital.com/alula/" target="_blank" class="project-caption-icon project-caption-link"><i class="fa fa-link"></i></a>
                   </div>
               </figcaption>
           </figure>
         </div>

         <div class="element design">
           <figure>
               <img src="assets/600-6.jpg" alt="" class="img-responsive" />
               <figcaption>
                   <h3 class="project-caption-title">DETERMINATION</h3>
                   <div>
                     <a href="assets/600-6.jpg" class="project-caption-icon project-caption-view" data-rel="prettyPhoto"><i class="fa fa-plus"></i></a>
                     <a href="javascript:;" class="project-caption-icon project-caption-link"><i class="fa fa-link"></i></a>
                   </div>
               </figcaption>
           </figure>
         </div>

         <div class="element digital print">
           <figure>
               <img src="assets/600-8.jpg" alt="" class="img-responsive" />
               <figcaption>
                   <h3 class="project-caption-title">BALLS!!!!</h3>
                   <div>
                     <a href="assets/600-8.jpg" class="project-caption-icon project-caption-view" data-rel="prettyPhoto"><i class="fa fa-plus"></i></a>
                     <a href="javascript:;" class="project-caption-icon project-caption-link"><i class="fa fa-link"></i></a>
                   </div>
               </figcaption>
           </figure>
         </div>

         <div class="element video">
           <figure>
               <img src="assets/600-2.jpg" alt="" class="img-responsive" />
               <figcaption>
                   <h3 class="project-caption-title">SUPER GAY</h3>
                   <div>
                     <a href="http://vimeo.com/69228454" class="project-caption-icon project-caption-view" data-rel="prettyPhoto"><i class="fa fa-plus"></i></a>
                     <a href="javascript:;" class="project-caption-icon project-caption-link"><i class="fa fa-link"></i></a>
                   </div>
               </figcaption>
           </figure>
         </div>

         <div class="element print design">
           <figure>
               <img src="assets/600-8.jpg" alt="" class="img-responsive" />
               <figcaption>
                   <h3 class="project-caption-title">GOT SOME WEED?</h3>
                   <div>
                     <a href="assets/600-8.jpg" class="project-caption-icon project-caption-view" data-rel="prettyPhoto"><i class="fa fa-plus"></i></a>
                     <a href="javascript:;" class="project-caption-icon project-caption-link"><i class="fa fa-link"></i></a>
                   </div>
               </figcaption>
           </figure>
         </div>

         <div class="element video">
           <figure>
               <img src="assets/600-1.jpg" alt="" class="img-responsive" />
               <figcaption>
                   <h3 class="project-caption-title">JOURNEY</h3>
                   <div>
                     <a href="http://www.youtube.com/watch?v=HbRL1fEVvQca" class="project-caption-icon project-caption-view" data-rel="prettyPhoto"><i class="fa fa-plus"></i></a>
                     <a href="javascript:;" class="project-caption-icon project-caption-link"><i class="fa fa-link"></i></a>
                   </div>
               </figcaption>
           </figure>
         </div>

         <div class="element print digital">
           <figure>
               <img src="assets/memories.jpg" alt="" class="img-responsive" />
               <figcaption>
                   <h3 class="project-caption-title">HOW YOU DOIN'?</h3>
                   <div>
                     <a href="assets/memories.jpg" class="project-caption-icon project-caption-view" data-rel="prettyPhoto"><i class="fa fa-plus"></i></a>
                     <a href="javascript:;" class="project-caption-icon project-caption-link"><i class="fa fa-link"></i></a>
                   </div>
               </figcaption>
           </figure>
         </div>

         <div class="element design">
           <figure>
               <img src="assets/600-3.jpg" alt="" class="img-responsive" />
               <figcaption>
                   <h3 class="project-caption-title">I HATE RAILS!</h3>
                   <div>
                     <a href="assets/600-3.jpg" class="project-caption-icon project-caption-view" data-rel="prettyPhoto"><i class="fa fa-plus"></i></a>
                     <a href="javascript:;" class="project-caption-icon project-caption-link"><i class="fa fa-link"></i></a>
                   </div>
               </figcaption>
           </figure>
         </div>

         <div class="element digital">
           <figure>
               <img src="assets/600-5.jpg" alt="" class="img-responsive" />
               <figcaption>
                   <h3 class="project-caption-title">EXPEDITION</h3>
                   <div>
                     <a href="assets/600-5.jpg" class="project-caption-icon project-caption-view" data-rel="prettyPhoto"><i class="fa fa-plus"></i></a>
                     <a href="javascript:;" class="project-caption-icon project-caption-link"><i class="fa fa-link"></i></a>
                   </div>
               </figcaption>
           </figure>
         </div>

       </div>

     </div>
   </div>

 </section>
