<p id="notice"><%= notice %></p>

<h1>Listing Post Attachments</h1>

<table>
  <thead>
    <tr>
      <th>Avatar</th>
    </tr>
  </thead>

  <tbody>
    <% @post_attachments.each do |post_attachment| %>
      <tr>
        <td><%= image_tag post_attachment.avatar, :size => "150x150" %></td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>
    <%= link_to 'Profile', bucket_lists_path %>
    
    <%= link_to 'New photo', new_bucket_list_post_attachment_path(@bucket_list) %>

